 <div class="row">
  <div class="col-sm-12">
    <div class="message">
      <ul class="messages-all list-unstyled">
        <% @messages.each do |message| %>
          <li><%= render "messages/show", message: message, user_is_messages_author: message.user == current_user %></li>
        <% end %>
      </ul>
    </div>
    <%= render "messages/form" %>
  </div>
</div>
<%= content_for :after_js do %>
  <script>
    console.log('hello!')
    App['fund_<%= @fund.id %>'] = App.cable.subscriptions.create(
      { channel: 'FundsChannel', fund_id: <%= @fund.id %>},
      { received: (data) => {
        console.log(data);
        var messageContainer = document.querySelector('.messages-all');
        messageContainer.insertAdjacentHTML('beforeend', data.message_partial);
      }
    })
  </script>
<% end %>


