 <div class="row">
  <div class="col-sm-12">
    <div class="message">
      <ul class="messages-all list-unstyled">
        <% @messages.each do |message| %>
          <li><%= render "messages/show", message: message %></li>
        <% end %>
      </ul>
    </div>
    <%= render "messages/form" %>
  </div>
</div>
<%= content_for :after_js do %>
  <script>
    App['fund_<%= @fund.id %>'] = App.cable.subscriptions.create({ channel: 'FundsChannel', fund_id: <%= @fund.id %>}, {
      recieved: (data) => {
        console.log(data);
      }
    })
  </script>
<% end %>


