<div class="form-style-5">

  <h1>Sign up</h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <fieldset>

        <div class="form-group">
          <%= f.input :name, required: true %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>

        <div class="form-actions" >
          <input type="submit" name="commit" value="Sign up" class="btn" data-disable-with="Sign up" style=" color: #62B8AB; border: 1px solid #62B8AB; padding: 5px 19px; border-radius: 50px; font-weight: lighter; opacity: 0.6; font-size: 20px; margin-bottom: 30px; margin-top: 20px;
">
        </div>
      <% end %>
      <div class="options" style="height:120vh; line-height: 200%;">
        <%= render "devise/shared/links" %>
      </div>
      </fieldset>
</div>
