<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <% end %>
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag("BM.png") %>
  </a>

  <!-- Right Navigation -->
  <container class="container">
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <div >
        <%= link_to "MY FUNDS", funds_path, class:"navbar-wagon-item navbar-wagon-link" %>
      </div>

      <div >
        <%= link_to "ABOUT", about_path, class:"navbar-wagon-item navbar-wagon-link" %>
      </div>

      <div >
        <%= link_to "HELP", help_path, class:"navbar-wagon-item navbar-wagon-link" %>
      </div>

      <button type="button" class="button-2">
        <% if user_signed_in? %>
          <div>
            <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class:"button-2"  %>
          </div>
        <% else %>
          <div>
            <%= link_to 'LOGIN', new_user_session_path, class:"button-2"   %>
          </div>
        <% end %>
      </button>

    </div>
  </container>
</div>
