<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <% end %>
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag("BM.png") %>
  </a>

  <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <div >
        <%= link_to "MY FUNDS", funds_path, class:"navbar-wagon-item navbar-wagon-link" %>
      </div>

      <div >
        <%= link_to "ABOUT", about_path, class:"navbar-wagon-item navbar-wagon-link" %>
      </div>

      <div >
        <%= link_to "HELP", help_path, class:"navbar-wagon-item navbar-wagon-link" %>
      </div>

    </div>
</div>
