<div class="navbar-wagon navbar-fixed-top">

  <div class="col-xs-12 col-sm-4">
    <div class="organise-2">
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <% end %>
      <a href="/" class="navbar-wagon-brand">
        <%= image_tag("BM.png") %>
      </a>

    </div>

</div>

  <div class="col-xs-12 col-sm-8">

        <div class="navbar-wagon-right hidden-xs hidden-sm">
          <div >
            <%= link_to "MY FUNDS", funds_path, class:"navbar-wagon-item navbar-wagon-link" %>
          </div>

          <div >
            <%= link_to "ABOUT", about_path, class:"navbar-wagon-item navbar-wagon-link" %>
          </div>

          <div >
            <%= link_to "HELP", help_path, class:"navbar-wagon-item navbar-wagon-link" %>
          </div>

          <div >
            <% if user_signed_in? %>
              <div>
                <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class:"btn"  %>
              </div>
            <% else %>
              <div>
                <%= link_to 'LOGIN', new_user_session_path, class:"btn"   %>
              </div>
            <% end %>
          </div>
        </div>

  </div>
</div>
