<link href="https://fonts.googleapis.com/css?family=Lato:300|Open+Sans:300" rel="stylesheet">
<!--
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; -->

<div class="container">

  <header >
  </header>


  <h3 id="heading"><strong>How does BenchMark work?</strong></h3>

  <br>

  <h3 id="heading"><strong>How does BenchMark work?</strong></h3>

  <br>

    <p>Crypto-currencies mean many things to many people. For some, it represents a symbol of wresting back control from corrupt governments and central banks; to others, a grand socio-technological experiment. Some may even use Bitcoin and altcoins to transact in goods and services. But the single biggest reason why crypto has captured the world’s attention has been its astronomical rise — from zero to a market value in the hundreds of billions, all in far less than a decade.
    Given these developments, it is hardly surprising that crypto has become the investment of choice for many millennials, and some of our parents and grandparents. The problem, however, which many of us face, is that crypto can seem really confusing. Reading an article on crypto for the first time can be a pretty harrowing experience given the vast glossary of technical concepts. Many are put off (and quite rightly so) from investing their money in something they cannot understand.</p>

    <p>To get around this, some have entrusted their capital to family members or friends who are knowledgeable about crypto, and are already investing for themselves. This is quite unique to crypto-investing, and my hunch is that many of you may have come across similar arrangements in your own social circles.</p>

    <p>Benchmark is a service that aims to make these arrangements more efficient and enjoyable.</p>

    <p>Instead of having to manually provide updates at irregular intervals, fund managers can engage with investors, share investing ideas and provide updates, all within a single space. For their part, investors can offer feedback to fund managers, and track their profits in real time.
    But don’t take my word for it, let us show you how it works.</p>

  <div class="text">
    <h3><strong>As a Fund Manager</strong>, I can</h3>
    <h3>Create a Fund</h3>
    <%=image_tag("createfund.png", class: "menu_icon")%>
    <h3>Add An Investor</h3>
    <%=image_tag("addinvestor.png", class: "menu_icon")%>
    <h3>Add A Coin</h3>
    <%=image_tag("addcoin.png", class: "menu_icon")%>
    <h3>Edit A Coin</h3>
    <%=image_tag("editcoin.png", class: "menu_icon")%>
    <h3>Communicate with Investors</h3>
    <%=image_tag("chat-fm.png", class: "menu_icon")%>

    <h3><strong>As an Investor</strong>, I can</h3>
    <h3>Oversee my Funds</h3>
    <%=image_tag("myfunds.png", class: "menu_icon")%>
    <h3>Look into each Fund</h3>
    <%=image_tag("fund.png", class: "menu_icon")%>
    <h3>Communicate with my Fund Manager</h3>
    <%=image_tag("chat.png", class: "menu_icon")%>
</div>
</div>
