<%= simple_form_for [ @fund, @fund_item ] do |f| %>
  <div class="form-group">
    <% options = @fund_item.persisted? ? {} : { selected: @coins.first } %>
    <%= f.association :coin, options.merge(collection: @coins)
     %>
  </div>
  <div class="form-group" id="purchase_price">
    <%= f.input :coin_purchase_price, as: :float, html: {id: :purchase_price} %>
  </div>
  <div class="form-group" id="quantity">
    <%= f.input :quantity, html: {id: :quantity} %>
  </div>
  <%= f.submit "ADD", class: "btn btn-primary" %>
<% end %>
