<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

<div class="header1">
  <h1>WELCOME TO BENCHMARK!</h1>
</div>

<div class="header2">
  <h1>FIND YOUR ACTIVE FUNDS HERE</h1>
</div>

<h1>Funds Which I Manage</h1>
  <div class="owned-funds">
    <% if current_user.funds_owned.present? %>
      <% current_user.funds_owned.each do |fund| %>
        <%= link_to fund_path(fund.id) do %>
        <div class="fund-owned">
          <h2> <%= fund.name%></h2>
        </div>
        <% end %>
      <% end %>
    <% else %>
     <span class="fund-create"> <h2>No owned funds yet.</h2></span>
    <div class="center-btn">
        <div class="create-btn-new">
        <%= link_to 'CREATE FUND', new_fund_path%>
    </div>
    </div>
    <% end %>
  </div>
<h1>Funds Which I Have Joined</h1>
  <div class="member-funds">
    <% if current_user.funds.present? %>
      <% current_user.funds.each do |fund| %>
        <%= link_to fund_path(fund.id) do %>
        <div class="fund-joined">
          <h2> <%= fund.name%></h2>
        </div>
        <% end %>
      <% end %>
    <% else %>
      <h2>No funds yet.</h2>
    <% end %>
  </div>

