<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

<div class="productPage">
  <div class="row">
    <div class="col-md-2 container1">
      <div class="sidebar">
        <h1>Owned Funds</h1>
        <div class="owned-funds">
         <% if current_user.funds_owned.present? %>
          <% current_user.funds_owned.each do |fund| %>
            <%= link_to fund_path(fund.id) do %>
              <div class="fund-owned">
                <h2> <%= fund.name%></h2>
              </div>
          <% end %>
         <% end %>
        <% else %>
          <p>No owned funds yet.</p>
        <% end %>
       </div>

         <h1>Funds Invested In</h1>
        <div class="member-funds">
         <% if current_user.funds.present? %>
          <% current_user.funds.each do |fund| %>
            <%= link_to fund_path(fund.id) do %>
              <div class="fund-name">
                <h2> <%= fund.name%></h2>
              </div>
          <% end %>
        <% end %>

        <% else %>
          <p>No funds participated in yet.</p>
        <% end %>
      </div>
      </div>
      <br>

      <div class="fund-members">
        <h1>Fund Members</h1>
        <% @fund.members.each do |member| %>
           <%= link_to fund_membership_path(@fund, member.id) do %>
            <ul>
              <li><%= member.name %></li>
            </ul>
          <% end %>
        <% end %>
      </div>
        <% if @fund.owner == current_user %>
            <%= link_to new_fund_membership_path(@fund) do%> <br>
              <button type="button" class="btn btn-primary">Add An Investor</button>
            <% end %>
          <% end %>
    </div>



<div class="col-md-5 container2">

    <div class="fund-name">
        <h1><%=@fund.name%></h1>
      </div>
         <div class="fund-name">
            <h2><%=@fund.name%>:<span class="<%= @fund.profitable? ? "green-alpha" : "red-alpha" %>"> <%= @fund.profit_margin %>%</span></h2>
        </div>
         <div class="fund-headline-profit">
        <h2>Profit: $<%=number_with_precision((@fund.total_fund_value - @fund.total_purchase_value), :precision => 2, :delimiter => ',')%></h2>
      </div>
    <div class="fund-value">
             <h2>Current Fund Value: <%=number_with_precision(@fund.total_fund_value, :precision => 2, :delimiter => ',')%></h2>

          </div>
    <hr class="line-divider">
    <div class="message">
      <h2>Your Fund Conversation</h2>
        <%= render "messages/index" %>
    </div>
</div>
    <div class="col-md-4 container3">

      <div class="fund_performance">
        <div class="market">
          <h1>Market Performance</h1>
          <img src="https://www.sierrachart.com/images/HomePageImages/1.png" alt="bitcoin-graph.jpg" class ="graph-picture">

        </div>
      </div>

      <div class="composition">
          <div>
            <h1>Fund Portfolio <%= link_to "(+)", new_fund_fund_item_path(@fund), class:"btn-medium" %></h1>
          </div>

          <table class="table-coins">
          <thead>
            <tr>
              <th>Coin</th>
              <th>Price</th>
              <th>Amount</th>
              <th>Value</th>
            </tr>
          </thead>
        <% @fund_items.each do |fund_item| %>

            <tr>
              <td><%=fund_item.coin.name%></td>
              <td>$<%=number_with_precision((fund_item.coin.price_in_cents / 100.00), :precision => 2, :delimiter => ',')%></td>
              <td><%=number_with_precision(fund_item.quantity, :precision => 2, :delimiter => ',')%></td>
              <td>$<%=number_with_precision(((fund_item.coin.price_in_cents / 100.00) * fund_item.quantity), :precision => 2, :delimiter => ',')%></td>

              <td>
                <%= link_to edit_fund_fund_item_path(@fund, fund_item), class:"btn" do %>
                  <i class="fas fa-cog"></i>
                <% end %>
              </td>

              <td>
                <%= link_to fund_fund_item_path(@fund, fund_item), data:{ confirm: "Are you sure you want to delete your account?" }, method: :delete, class:"btn" do %>
                <i class="fas fa-times"></i>
               <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

    </div>
  </div>
</div>



