
<div class="productPage">
  <div class="row">
    <div class="col-md-3 container1">
      <div class="sidebar">
        <h2>Sidebar Placeholder</h2>
        <h2>All Funds</h2>
        <h2>Money Maker</h2>
        <h2>Bitcoin Fund</h2>
        <h2>Haraldson Fund</h2>
      </div>
      <br>
      <div class="fund-members">
        <h2>Fund Members</h2>
        <% @fund.members.each do |member| %>
          <ul>
            <li><%= member.name %></li>
          </ul>
        <% end %>
        <% if @fund.owner == current_user %>
          <%= link_to new_fund_membership_path(@fund) do%> <br>
            <button type="button" class="btn btn-primary">Add An Investor</button>
          <% end %>
        <% end %>
      </div>
    </div>


<div class="col-md-5 container2">
  <div class="message">
    <h2>Your Fund Conversation</h2>
      <%= render "messages/index" %>
  </div>
</div>


    <div class="col-md-3 container3">
      <div class="fund-value">
         <h2><%=@fund.total_fund_value%></h2>
      </div>
      <div class="fund-name">
        <h2><%=@fund.name%></h2>
      </div>
      <div class="fund_performance">
        <div class="market">
          <h2>Market Performance</h2>
        </div>
      </div>
      <div class="composition">
        <% @fund_items.each do |fund_item| %>

            <div class="Coin">
              <h2>Coin:<%=fund_item.coin.name%> </h2>
              <h2>Price:<%=(fund_item.coin.price_in_cents / 100.00)%>USD</h2>
              <h2>Quantity:<%=fund_item.quantity%> </h2>
              <h2>Value:<%=((fund_item.coin.price_in_cents / 100.00) * fund_item.quantity)%>USD</h2>
            <% end %>
          </div>
        </div>
      </div>
   </div>
</div>

    <div>
      <%= link_to "ADD NEW ITEM", new_fund_fund_item_path(@fund), class:"btn-medium" %>
    </div>


